 <!DOCTYPE html>
<html>
	<body>

		<script id="templateExample" type="text/template">
			<div>
				<%= attribute %>
			</div>
		</script>

		<h1>It works!</h1>
	
		<button id="button">Call webservice</button>
		
		<div id="result"></div>
		
	    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
		<script type="text/javascript" src="home.js"></script>
	</body>
</html>